name: release
on:
  push:
    tags:
      - "*"
  release:
    types: [published]
env:
  NAME: "linkerd"
jobs:
  helm:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
      - name: Install Helm
        uses: azure/setup-helm@v1
      - name: Get GitHub Tag
        id: get_tag
        run: |
            echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"
        env:
          INPUT_TAG: ${{ inputs.overwrite_tag }}
      - name: Publish Helm charts linkerd2-cni
        run: |
          cd charts/
          helm registry login -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
          helm package --app-version ${{ steps.get_tag.outputs.tag }} --version ${{ steps.get_tag.outputs.tag }} linkerd2-cni -u
          helm push linkerd2-cni-${{ steps.get_tag.outputs.tag }}.tgz oci://ghcr.io/xenitab/helm-charts
          cd ../..
      - name: Publish Helm charts linkerd-control-plane
        run: |
          cd charts/
          helm registry login -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
          helm package --app-version ${{ steps.get_tag.outputs.tag }} --version ${{ steps.get_tag.outputs.tag }} linkerd-control-plane -u
          helm push linkerd-control-plane-${{ steps.get_tag.outputs.tag }}.tgz oci://ghcr.io/xenitab/helm-charts
          cd ../..
      - name: Publish Helm charts linkerd-control-plane
        run: |
          cd charts/
          helm registry login -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
          helm package --app-version ${{ steps.get_tag.outputs.tag }} --version ${{ steps.get_tag.outputs.tag }} linkerd-crds -u
          helm push linkerd-crds-${{ steps.get_tag.outputs.tag }}.tgz oci://ghcr.io/xenitab/helm-charts
          cd ../..
      - name: Publish Helm charts linkerd-viz
        run: |
          cd viz/charts/
          helm registry login -u ${{ github.repository_owner }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
          helm package --app-version ${{ steps.get_tag.outputs.tag }} --version ${{ steps.get_tag.outputs.tag }} linkerd-viz -u
          helm push linkerd-viz-${{ steps.get_tag.outputs.tag }}.tgz oci://ghcr.io/xenitab/helm-charts
          cd ../..
